# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env/

# OS / editor noise
.DS_Store
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Sphinx build artifacts
/docs/_build/
